@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #25256b;
    height: 100vh;
    
}

header {
    color: white;

    text-align: center;
    padding-top: 35px;

    width: 100vw;
    height: 80px;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 1px 6px #00000038;
    
    width: 500px;
    height: 400px;

    margin: auto;
    margin-top: 15px;
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}
div {
    text-align: center;
    margin-top: 20px;
}
div#msg {
    padding-top: 20px;
    font-size: 25px;
}

img {
    width: 300px;
    height: 300px;

    border-radius: 300px;
}

footer {
    
    color: white;
    text-align: center;
    
    width: 100vw;
    height: 90px;
    
    margin-top: 15px;
    padding-top: 30px;
    
    /* 
    position: absolute;
    top: 84%;
    */
}