@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #25256b;
    height: 100vh;
    
}

header {
    
    color: white;

    text-align: center;
    padding-top: 30px;

    width: 100vw;
    height: 100px;
}

main {
    background-color: white;
    border-radius: 10px;
    
    width: 500px;
    height: auto;

    margin: auto;
    margin-top: 15px;
    
}
div#content {
    margin-left: 20px;
    padding-top: 20px;
    line-height: 30px;
}
#btVerificar {
    padding: 5px;
    border: 1px solid #25256b;
    border-radius: 5px;

    margin-bottom: 7px;

    color: white;
    background-color: #25256b;
    cursor: pointer;
}
#btVerificar:hover {
    background-color: #0b0b46;
}
#outResposta {
    text-align: center;
    margin-bottom: 10px;
}

div#imagem {
    text-align: center;
    padding-bottom: 15px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    
    
}
footer {
    
    color: white;
    text-align: center;
    
    width: 100vw;
    height: 90px;
    
    margin-top: 15px;
    padding-top: 30px;
    
    /* 
    position: absolute;
    top: 84%;
    */
}